body {
    background-color: antiquewhite;
    color: black;
}

header {
    border-bottom: solid 2px rgb(179, 19, 190, 0.695);
    padding: 20px;
    font-size: 32px;
    color: rgb(179, 19, 190, 0.695);
}